header{
    background-color:rgb(0, 94, 122);
    color: white;
    font-weight: bold;
    letter-spacing: 10px;
    text-align: center;
    padding: 20px;
}
main{
    background-image: url(fishtankk.png);   
    background-position: center;
    background-size: cover;
    position: relative;
}
footer{
    background-color: rgb(50,60,70);
    color: wheat;
    padding: 20px;
    font-weight: bold;
    text-align: center;
}
body{
    margin: 0;
}
